<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="vshn_logo"></div>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}
          {{#unless (eq page.componentVersion.displayVersion "default")}}{{#unless (eq
          page.componentVersion.displayVersion "master")}}{{#unless (eq page.layout '404')}} –
          v{{page.componentVersion.displayVersion}}{{/unless}}{{/unless}}{{/unless}}</a>
      </div>
      <button class="navbar-burger" aria-label="Toggle navigation menu" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">VSHN</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="https://www.vshn.ch/">Main website</a>
            <a class="navbar-item" target="_blank" href="https://handbook.vshn.ch/">Handbook</a>
            <a class="navbar-item" target="_blank" href="https://kb.vshn.ch/">Knowledge Base</a>
            <a class="navbar-item" target="_blank" href="https://products.vshn.ch/">Products</a>
            <a class="navbar-item" target="_blank" href="https://control.docs.vshn.ch/">Portal Help</a>
            <a class="navbar-item" target="_blank" href="https://docs.appuio.cloud/">APPUiO Cloud Docs</a>
            <a class="navbar-item" target="_blank" href="https://docs.appcat.ch/">AppCat Docs</a>
            <a class="navbar-item" target="_blank" href="https://syn.tools/">Project Syn</a>
            <a class="navbar-item" target="_blank" href="https://k8up.io/">K8up</a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="search-field">
            <input id="search-input" class="search-input" type="search" placeholder="Search" aria-label="Search">
            <button type="submit" class="search-button" aria-label="Search">
              <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" fill="currentColor"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.242.156a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9z"/></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>